<h1>Alle Fragen</h1>

<table>
  <tr>
    <th>Fragen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.message %></td>
    <td><%= link_to 'Zeigen', question %></td>
    <td><%= link_to 'Bearbeiten', edit_question_path(question) %></td>
    <td><%= link_to 'Löschen', question, method: :delete, data: { confirm: 'Wirklich löschen?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Frage', new_question_path %>
